<form method="post" action="{{ path('dedier_delete', {'id': dedier.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ dedier.id) }}">
    <button class="btn btn-danger"><i class="nav-icon fas fa-times"></i></button>
</form>
