{{ form_start(form) }}
<div class="card-body">
    {{ form_widget(form) }}
    {{ form_row(form.DedierIPs) }}
    <button class="btn btn-info">{{ button_label|default('Save') }}</button>
</div>
{{ form_end(form) }}