{% extends 'base.html.twig' %}
{% block title %}{{ parent() }} - Box{% endblock %}
{% block titre %}Box{% endblock %}
{% block body %}
    {% block body_box %}
    {% endblock %}
{% endblock %}

{% block javascript %}
{{parent()}}
<script>
    $('#box').addClass('active');
</script>
{% endblock %}