<div class="col-md-12">
    {% for label, messages in app.flashes %}
        <div class="alert alert-{{ label }} alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">x</button>
            <h5>Alert</h5>
            {% for message in messages %}
            <p>{{ message }}</p>
            {% endfor %}
        </div>
    {%  endfor %}
</div>