{% use 'form_div_layout.html.twig' %}

{% block form_row %}
<div class="form-group">
    {{parent()}}
</div>
{% endblock %}

{% block text_widget %}
    <input class="form-control" type="text" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
{% endblock %}
