{% extends 'base.html.twig' %}

{% block title %}{{parent()}} - Dashboard{% endblock %}
{% block titre %} Dashboard {% endblock %}
{% block body %}
<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ 'D:/Developement/NetBeansProjects/panel_games_server/src/Controller/MainController.php'|file_link(0) }}">src/Controller/MainController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'D:/Developement/NetBeansProjects/panel_games_server/templates/main/index.html.twig'|file_link(0) }}">templates/main/index.html.twig</a></code></li>
    </ul>
</div>
{% endblock %}
