<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
	<!-- Brand Logo -->
	<a href="{{path('home')}}" class="brand-link">
		<img src="{{asset('build/images/AdminLTELogo.png')}}" alt="Plan Games Server"
			class="brand-image img-circle elevation-3" style="opacity: .8">
		<span class="brand-text font-weight-light">Panel Games Server</span>
	</a>

	<!-- Sidebar -->
	<div class="sidebar">
		<!-- Sidebar user panel (optional) -->
		<div class="user-panel mt-3 pb-3 mb-3 d-flex">
			<div class="image">
				<!--<img src="{{asset('build/user2-160x160.jpg')}}" class="img-circle elevation-2" alt="User Image">-->
			</div>
			<div class="info">
				<a href="#" class="d-block">
					{% if app.user %}
					{{ app.user.username }}
					{% else %}
					Utilisateur non connecté
					{% endif %}
				</a>
			</div>
		</div>

		<!-- Sidebar Menu -->
		<nav class="mt-2">
			<ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
				<!-- Add icons to the links using the .nav-icon class with font-awesome or any other icon font library -->

				<li class="nav-item">
					<a id="box" href="{{path('dedier_index')}}" class="nav-link">
						<i class="nav-icon fas fa-th"></i>
						<p>
							Box
						</p>
					</a>
				</li>
			</ul>
		</nav>
		<!-- /.sidebar-menu -->
	</div>
	<!-- /.sidebar -->
</aside>